@import "tailwindcss";

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima-Nova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --brand-color:#003371;
  --text-color:#222222;
}

body{
  font-family: "Proxima Nova" !important;
}
